body {
    font-size: 24px;
    background-color: white;
    font-family: 'Roboto';
    font-weight: normal;
}

/* Navbar */
.navbar-dark {
    padding: 18px 32px;
    background-color: transparent;
    font-size: 1.2em;
}

.navbar-text {
    color: rgb(214, 214, 214);
    font-size: 0.85em;
    font-weight: lighter;
}

.fa-user {
    color: rgb(214, 214, 214);
    font-size: 0.95em;
}

img {
    margin-top: -90px;
    z-index: -1;
    position: absolute;
}

/* Title */
.h1 {
    font-size: 0.95em;
    font-weight: normal;
}

.title {
    font-size: 1.85em;
    color: white;
    margin: 20px auto 20px auto;
    text-align: center;
}

/* Table background */
.wraper {
    background-color: #F1F1F1;
    border-radius: 8px 8px 8px 8px;
    margin: 0 auto;
    width: 800px;
}

.container {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1920px
}

/* Table */
.header {
    margin-bottom: 20px;
    font-weight: 500;
    border-radius: 8px 8px 0 0;
    background-color: #CDCDCD;
    width: 100%;
    padding: 12px;
    margin: 0px;
}

.row {
    flex-wrap: wrap;
    width: 100%;
    padding: 12px;
    margin: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 62px;
}

.item {
    margin-bottom: 8px;
}

.btn-primary {
    width: 110px;
    margin-right: 20px;
}