body {
    font-size: 24px;
}

.h1 {
    font-size: 0.95em;
    font-weight: normal;
}

.navbar-dark {
    padding: 8px 25px;
    background-color: #444444;
}

.title {
    font-size: 1.2em;
    margin-top: 8px;
    margin-bottom: 10px;
}

#order_id {
    font-size: 0.85em;
    color: #858585;
}

#header {
    font-size: 1.5em;
    margin-top: 35px;
    margin-left: -10px;
}

.item {
    margin-bottom: 8px;
}

.container {
    font-size: 0.75em;
    margin: 10px 0 15px 0;
    padding: 0;
}

.wraper {
    margin: 0 60px;
}

.header {
    margin-bottom: 20px;
    font-weight: bold;
}
